*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-banner{
    width: 400%;
}

body {
    width: 512px;
    background-color: rgba(25, 29, 123);
}

#Main_Title{
    color: white;
    font-family: "Tektur", sans-serif;
   font-size: 500%;
    text-shadow: 4px 4px black;
    text-align: center;

}

.container{
    border-radius: 20px;
    height: 50dvh;
    width: 70dvw;
    margin: 5dvh 15dvw 15dvh 15dvw;

}
 p{
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 40px;
 }

 #Paragraph1{
    border: solid white;
    border-radius: 25px;
    color: black;
    background-color: white;

 }

 #Paragraph2{
    border: solid rgba(88, 101, 242);
    border-radius: 25px;
    background-color: rgba(88, 101, 242);
    margin-top: 30px;
 }

.container_2{
    border-radius: 20px;
    height: 80dvh;
    width: 70dvw;
    margin: 5dvh 15dvw 1dvh 15dvw;
    background-color: rgba(93, 100, 209);
    

 }


.title_2{
    color: white;
    font-family: "Tektur", sans-serif;
    font-size: 500%;
    text-shadow: 4px 4px black;
    padding: 50px;
}
.top_video{
    margin-left: 100px;
    width: 500px;
    border-radius: 40px;
    padding: 5px;
    
    
}