*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-banner{
    max-width: 100%;
}
/* main */
body {
    width: 512px;
    background-color: rgba(25, 29, 123);
    margin-bottom: 10px;
}
/* Title */
#Main_Title{
    color: white;
    font-family: "Tektur", sans-serif;
   font-size: 200%;
    text-shadow: 4px 4px black;
    text-align: center;

}
/* top container */
.container{
    border-radius: 20px;
    height:30dvh;
    margin: 5dvh 10dvw 1dvh 10dvw;
    max-width: 100%;

}
/* description */
 p{
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 20px;
 }

 /* windows button */
 #Paragraph1{
    border: solid white;
    border-radius: 25px;
    color: black;
    background-color: white;
    padding: 30px;
 }
/* quackword browser */
 #Paragraph2{
    border: solid rgba(88, 101, 242);
    border-radius: 25px;
    background-color: rgba(88, 101, 242);
    margin-top: 10px;
    padding: 30px;
 }
/* bottom container */
.container_2{
    border-radius: 40px;
    height: 50dvh;
    margin: 7dvh 10dvw 0.2dvh 10dvw;
    background-color: rgba(93, 100, 209);
    position: relative;
    
 }
/* other titles */
.title_2{
    color: white;
    font-family: "Tektur", sans-serif;
    font-size: 200%;
    text-shadow: 4px 4px black;
    padding: 40px;
}
/* videos */
.top_video{
    
    max-width: 100%;
    border-radius: 40px;  
    padding: 20px;
        
}
/* stickers */
.quackord{
    position: absolute;
    width: 90px;
    left: 10%;
    top: -9%;
}